### In this file the notes in dataframes removed because they are long. EMMA has problem in terms of reading long string as a note. Instead, the excel file names are used as notes contents.

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [7]:
pwd

'C:\\Users\\ssabahi\\Desktop\\EMMA_Final\\EMMA_Soil_2018-2019\\EMMA_Water_2018-2019'

In [8]:
import glob
# file_names = sorted(glob.glob('*.xlsx'))
file_names = (glob.glob('*.xlsx'))

In [9]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [10]:
file_names

['3008 Water chem results 20018+2019.xlsx',
 '3008 Water chem results 2018+2019_field.xlsx',
 '3008 Water chem results 2019-2467 Rev3B.xlsx',
 '3008 Water chem Results 2019-7104 RevA.xlsx',
 '3008_19FALL_WS chem results 2019-14330_Final.xlsx',
 '3008_19FALL_WS-field results RevA_Final.xlsx',
 '3008_19SPRI_WS -field RevA.xlsx',
 '3008_19summ_WS results 2019-11059.xlsx']

## Columns needed for future EMMA dataframes

In [11]:
emma_cols = ['Site_Name', 'Media_Name', 'Lab_Track_ID', 'Location_Name', 'Sample_ID',
       'Lab_Sample_ID', 'Duplicate_Source_ID', 'Duplicate_Lab_Source_ID',
       'Is_Travel_Blank', 'Is_Field_Blank', 'Depth_Start_M', 'Depth_End_M',
       'Diluted', 'Sample_DateTime', 'Analysis_DateTime', 'Analysis_Method',
       'Parameter_ID', 'Sample_Value', 'Less_Than_DL', 'Detection_Limit',
       'Units', 'Spike_Recovery', 'Species', 'Sample_Treatment',
       'Soil_Texture', 'Notes']

# len(emma_cols) = 26

## Columns needed to keep  based on LAB_NAME_CODE: SRC

In [12]:
col_ls = ['FACILITY_NAME','MATRIX_DESC','SYS_LOC_CODE','SAMPLE_NAME','LAB_SAMPLE_ID','START_DEPTH', 'END_DEPTH',
          'SAMPLE_DATE','ANALYSIS_DATE', 'METHOD_ANALYTE_GROUP_DESC','CHEMICAL_NAME','REPORT_RESULT_VALUE',
          'DETECT_FLAG', 'REPORTING_DETECTION_LIMIT' ,'REPORT_RESULT_UNIT', 'NEW_NOTE']

# len(col_ls) = 16
# 10 more columns are needed to complete the EMMA format

### Using excel file names as notes content

In [13]:
data = []
for i in range(0,len(file_names)):
    data.append(pd.read_excel(file_names[i]))
    data[i]['NEW_NOTE'] = file_names[i]

### Columns in different excel files are not the same and we need to add or remove some of them based on the col_ls list (defined above)

### The status of the current dataframe columns compare to the list col_ls + the current dataframes dimension

In [14]:
col_df = pd.DataFrame(columns=['Excel Files','Columns Needed','Dimension'], index=list(range(1,len(file_names)+1)))

In [15]:
for i,j in enumerate(file_names):
    col_df.iloc[i]['Excel Files'] = j
    col_df.iloc[i]['Columns Needed'] = list(set(col_ls) - set(list(data[i].columns)))
    col_df.iloc[i]['Dimension'] = data[i].shape
    
col_df

                                         Excel Files                              Columns Needed   Dimension
1            3008 Water chem results 20018+2019.xlsx                                          []  (5516, 43)
2       3008 Water chem results 2018+2019_field.xlsx                                          []  (4333, 43)
3       3008 Water chem results 2019-2467 Rev3B.xlsx                                          []  (2202, 38)
4        3008 Water chem Results 2019-7104 RevA.xlsx                                          []  (2473, 36)
5  3008_19FALL_WS chem results 2019-14330_Final.xlsx                                          []  (2610, 37)
6       3008_19FALL_WS-field results RevA_Final.xlsx  [REPORTING_DETECTION_LIMIT, LAB_SAMPLE_ID]  (1265, 30)
7                    3008_19SPRI_WS -field RevA.xlsx  [REPORTING_DETECTION_LIMIT, LAB_SAMPLE_ID]  (1349, 29)
8             3008_19summ_WS results 2019-11059.xlsx                                          []  (2915, 36)

### The above tables shows that dataframes in row 6 and 7 need 2 more columns LAB_SAMPLE_ID and REPORTING_DETECTION_LIMIT

### We need to be careful about the dataframes in  row 6 and 7 in the table above when we remove the duplicates

### In the next block we add or remove some columns to make the same columns for all the dataframes

In [16]:
for i in range(0,len(file_names)):

    if set(col_ls).issubset(list(data[i].columns)):
        data[i] = data[i][col_ls]
    else:
        data[i] = pd.concat([data[i] , pd.DataFrame(columns=list(set(col_ls) - set(list(data[i].columns))) )],sort=False) 
        data[i] = data[i][col_ls]

### Checking the dimension of modified dataframes

In [17]:
data_info_df = pd.DataFrame(columns=['Excel Files','Dimension'], index=list(range(1,len(file_names)+1)))

In [18]:
for i,j in enumerate(file_names):
    data_info_df.iloc[i]['Excel Files'] = j
    data_info_df.iloc[i]['Dimension'] = data[i].shape

In [19]:
data_info_df

                                         Excel Files   Dimension
1            3008 Water chem results 20018+2019.xlsx  (5516, 16)
2       3008 Water chem results 2018+2019_field.xlsx  (4333, 16)
3       3008 Water chem results 2019-2467 Rev3B.xlsx  (2202, 16)
4        3008 Water chem Results 2019-7104 RevA.xlsx  (2473, 16)
5  3008_19FALL_WS chem results 2019-14330_Final.xlsx  (2610, 16)
6       3008_19FALL_WS-field results RevA_Final.xlsx  (1265, 16)
7                    3008_19SPRI_WS -field RevA.xlsx  (1349, 16)
8             3008_19summ_WS results 2019-11059.xlsx  (2915, 16)

### Now we need to concatinate the excel files and make one master file

In [20]:
master_df = pd.DataFrame(columns=col_ls)
for i in range(0,len(file_names)):
    master_df = pd.concat([master_df,data[i]],ignore_index=True)

In [21]:
master_df.shape

(22663, 16)

In [22]:
master_df.head()

    FACILITY_NAME    MATRIX_DESC SYS_LOC_CODE           SAMPLE_NAME LAB_SAMPLE_ID START_DEPTH END_DEPTH         SAMPLE_DATE       ANALYSIS_DATE METHOD_ANALYTE_GROUP_DESC             CHEMICAL_NAME  REPORT_RESULT_VALUE DETECT_FLAG REPORTING_DETECTION_LIMIT REPORT_RESULT_UNIT                                 NEW_NOTE
0  Patterson Lake  Surface Water      CLEARV1  3008 FB Water Sample    2018020699           0         0 2018-05-21 13:48:00 2018-06-08 08:31:36       Physical Properties           Hardness, Total                 1.00           N                         1               mg/L  3008 Water chem results 20018+2019.xlsx
1  Patterson Lake  Surface Water      CLEARV1  3008 FB Water Sample    2018020699           0         0 2018-05-21 13:48:00 2018-06-07 09:08:10                    Metals                   Mercury                 1.00           N                         1               ng/L  3008 Water chem results 20018+2019.xlsx
2  Patterson Lake  Surface Water      CLEARV1  3008 FB Water Sample    2018020699           0         0 2018-05-21 13:48:00 2018-06-07 16:01:56                 Nutrients            Ammonia (as N)                 0.01           N                      0.01               mg/L  3008 Water chem results 20018+2019.xlsx
3  Patterson Lake  Surface Water      CLEARV1  3008 FB Water Sample    2018020699           0         0 2018-05-21 13:48:00 2018-06-10 14:08:14                 Nutrients  Nitrogen, Total Kjeldahl                 0.05           N                      0.05               mg/L  3008 Water chem results 20018+2019.xlsx
4  Patterson Lake  Surface Water      CLEARV1  3008 FB Water Sample    2018020699           0         0 2018-05-21 13:48:00 2018-06-06 16:31:03                 Nutrients             Nitrate (NO3)                 0.04           N                      0.04               mg/L  3008 Water chem results 20018+2019.xlsx

### To check whether we are using the right data for surface water

In [23]:
master_df['MATRIX_DESC'].nunique()

1

In [24]:
# To check that all excel files are belong to surface water

In [25]:
master_df['MATRIX_DESC'].value_counts()

Surface Water    22663
Name: MATRIX_DESC, dtype: int64

### Check the duplicate rows in the masterfile

### Create 3 different dataframes to find how duplicate rows are changing

In [26]:
master_temp1_df = master_df.drop(columns=['NEW_NOTE'])
master_temp2_df = master_df.drop(columns=['LAB_SAMPLE_ID','REPORTING_DETECTION_LIMIT'])   
master_temp3_df = master_df.drop(columns=['LAB_SAMPLE_ID','REPORTING_DETECTION_LIMIT','NEW_NOTE'])

In [27]:
print(f'The shape of "master_temp1_df" is {master_temp1_df[master_temp1_df.duplicated()].shape}')
print(f'The shape of "master_temp2_df" is {master_temp2_df[master_temp2_df.duplicated()].shape}')
print(f'The shape of "master_temp3_df" is {master_temp3_df[master_temp3_df.duplicated()].shape}')
print(f'The shape of "master_df" is {master_df[master_df.duplicated()].shape}')

The shape of "master_temp1_df" is (2202, 15)
The shape of "master_temp2_df" is (0, 14)
The shape of "master_temp3_df" is (2202, 13)
The shape of "master_df" is (0, 16)

#### Comparing master_temp2_df and original master_df tells us that the duplicates are not in the dataframes related to rows 6 and 7 (see two table above)
### Therefrore, the duplicates needs to be removed after we drop the column NEW_NOTE

In [28]:
master_df[master_df.drop(columns=['NEW_NOTE']).duplicated()].shape

(2202, 16)

### Frist remove the column "NEW_NOTES", save it in a new dataframe and then remove the duplicates. We need to add the remaining notes later to the modifed master dafaframe.

In [29]:
note_df = pd.DataFrame(master_df['NEW_NOTE'])
note_df.head(1)

                                  NEW_NOTE
0  3008 Water chem results 20018+2019.xlsx

In [30]:
master_df.drop(columns=['NEW_NOTE'],inplace=True)

In [31]:
master_df.drop_duplicates(inplace=True)

In [32]:
master_df.shape

(20461, 15)

### We need to remove the same columns in note_df

In [33]:
set(note_df.index)-set(master_df.index)

{9849,
 9850,
 9851,
 9852,
 9853,
 9854,
 9855,
 9856,
 9857,
 9858,
 9859,
 9860,
 9861,
 9862,
 9863,
 9864,
 9865,
 9866,
 9867,
 9868,
 9869,
 9870,
 9871,
 9872,
 9873,
 9874,
 9875,
 9876,
 9877,
 9878,
 9879,
 9880,
 9881,
 9882,
 9883,
 9884,
 9885,
 9886,
 9887,
 9888,
 9889,
 9890,
 9891,
 9892,
 9893,
 9894,
 9895,
 9896,
 9897,
 9898,
 9899,
 9900,
 9901,
 9902,
 9903,
 9904,
 9905,
 9906,
 9907,
 9908,
 9909,
 9910,
 9911,
 9912,
 9913,
 9914,
 9915,
 9916,
 9917,
 9918,
 9919,
 9920,
 9921,
 9922,
 9923,
 9924,
 9925,
 9926,
 9927,
 9928,
 9929,
 9930,
 9931,
 9932,
 9933,
 9934,
 9935,
 9936,
 9937,
 9938,
 9939,
 9940,
 9941,
 9942,
 9943,
 9944,
 9945,
 9946,
 9947,
 9948,
 9949,
 9950,
 9951,
 9952,
 9953,
 9954,
 9955,
 9956,
 9957,
 9958,
 9959,
 9960,
 9961,
 9962,
 9963,
 9964,
 9965,
 9966,
 9967,
 9968,
 9969,
 9970,
 9971,
 9972,
 9973,
 9974,
 9975,
 9976,
 9977,
 9978,
 9979,
 9980,
 9981,
 9982,
 9983,
 9984,
 9985,
 9986,
 9987,
 9988,
 9989,
 9990,
 9991,
 9992,
 9993,
 9994,
 9995,
 9996,
 9997,
 9998,
 9999,
 10000,
 10001,
 10002,
 10003,
 10004,
 10005,
 10006,
 10007,
 10008,
 10009,
 10010,
 10011,
 10012,
 10013,
 10014,
 10015,
 10016,
 10017,
 10018,
 10019,
 10020,
 10021,
 10022,
 10023,
 10024,
 10025,
 10026,
 10027,
 10028,
 10029,
 10030,
 10031,
 10032,
 10033,
 10034,
 10035,
 10036,
 10037,
 10038,
 10039,
 10040,
 10041,
 10042,
 10043,
 10044,
 10045,
 10046,
 10047,
 10048,
 10049,
 10050,
 10051,
 10052,
 10053,
 10054,
 10055,
 10056,
 10057,
 10058,
 10059,
 10060,
 10061,
 10062,
 10063,
 10064,
 10065,
 10066,
 10067,
 10068,
 10069,
 10070,
 10071,
 10072,
 10073,
 10074,
 10075,
 10076,
 10077,
 10078,
 10079,
 10080,
 10081,
 10082,
 10083,
 10084,
 10085,
 10086,
 10087,
 10088,
 10089,
 10090,
 10091,
 10092,
 10093,
 10094,
 10095,
 10096,
 10097,
 10098,
 10099,
 10100,
 10101,
 10102,
 10103,
 10104,
 10105,
 10106,
 10107,
 10108,
 10109,
 10110,
 10111,
 10112,
 10113,
 10114,
 10115,
 10116,
 10117,
 10118,
 10119,
 10120,
 10121,
 10122,
 10123,
 10124,
 10125,
 10126,
 10127,
 10128,
 10129,
 10130,
 10131,
 10132,
 10133,
 10134,
 10135,
 10136,
 10137,
 10138,
 10139,
 10140,
 10141,
 10142,
 10143,
 10144,
 10145,
 10146,
 10147,
 10148,
 10149,
 10150,
 10151,
 10152,
 10153,
 10154,
 10155,
 10156,
 10157,
 10158,
 10159,
 10160,
 10161,
 10162,
 10163,
 10164,
 10165,
 10166,
 10167,
 10168,
 10169,
 10170,
 10171,
 10172,
 10173,
 10174,
 10175,
 10176,
 10177,
 10178,
 10179,
 10180,
 10181,
 10182,
 10183,
 10184,
 10185,
 10186,
 10187,
 10188,
 10189,
 10190,
 10191,
 10192,
 10193,
 10194,
 10195,
 10196,
 10197,
 10198,
 10199,
 10200,
 10201,
 10202,
 10203,
 10204,
 10205,
 10206,
 10207,
 10208,
 10209,
 10210,
 10211,
 10212,
 10213,
 10214,
 10215,
 10216,
 10217,
 10218,
 10219,
 10220,
 10221,
 10222,
 10223,
 10224,
 10225,
 10226,
 10227,
 10228,
 10229,
 10230,
 10231,
 10232,
 10233,
 10234,
 10235,
 10236,
 10237,
 10238,
 10239,
 10240,
 10241,
 10242,
 10243,
 10244,
 10245,
 10246,
 10247,
 10248,
 10249,
 10250,
 10251,
 10252,
 10253,
 10254,
 10255,
 10256,
 10257,
 10258,
 10259,
 10260,
 10261,
 10262,
 10263,
 10264,
 10265,
 10266,
 10267,
 10268,
 10269,
 10270,
 10271,
 10272,
 10273,
 10274,
 10275,
 10276,
 10277,
 10278,
 10279,
 10280,
 10281,
 10282,
 10283,
 10284,
 10285,
 10286,
 10287,
 10288,
 10289,
 10290,
 10291,
 10292,
 10293,
 10294,
 10295,
 10296,
 10297,
 10298,
 10299,
 10300,
 10301,
 10302,
 10303,
 10304,
 10305,
 10306,
 10307,
 10308,
 10309,
 10310,
 10311,
 10312,
 10313,
 10314,
 10315,
 10316,
 10317,
 10318,
 10319,
 10320,
 10321,
 10322,
 10323,
 10324,
 10325,
 10326,
 10327,
 10328,
 10329,
 10330,
 10331,
 10332,
 10333,
 10334,
 10335,
 10336,
 10337,
 10338,
 10339,
 10340,
 10341,
 10342,
 10343,
 10344,
 10345,
 10346,
 10347,
 10348,
 10349,
 10350,
 10351,
 10352,
 10353,
 10354,
 10355,
 10356,
 10357,
 10358,
 10359,
 10360,
 10361,
 10362,
 10363,
 10364,
 10365,
 10366,
 10367,
 10368,
 10369,
 10370,
 10371,
 10372,
 10373,
 10374,
 10375,
 10376,
 10377,
 10378,
 10379,
 10380,
 10381,
 10382,
 10383,
 10384,
 10385,
 10386,
 10387,
 10388,
 10389,
 10390,
 10391,
 10392,
 10393,
 10394,
 10395,
 10396,
 10397,
 10398,
 10399,
 10400,
 10401,
 10402,
 10403,
 10404,
 10405,
 10406,
 10407,
 10408,
 10409,
 10410,
 10411,
 10412,
 10413,
 10414,
 10415,
 10416,
 10417,
 10418,
 10419,
 10420,
 10421,
 10422,
 10423,
 10424,
 10425,
 10426,
 10427,
 10428,
 10429,
 10430,
 10431,
 10432,
 10433,
 10434,
 10435,
 10436,
 10437,
 10438,
 10439,
 10440,
 10441,
 10442,
 10443,
 10444,
 10445,
 10446,
 10447,
 10448,
 10449,
 10450,
 10451,
 10452,
 10453,
 10454,
 10455,
 10456,
 10457,
 10458,
 10459,
 10460,
 10461,
 10462,
 10463,
 10464,
 10465,
 10466,
 10467,
 10468,
 10469,
 10470,
 10471,
 10472,
 10473,
 10474,
 10475,
 10476,
 10477,
 10478,
 10479,
 10480,
 10481,
 10482,
 10483,
 10484,
 10485,
 10486,
 10487,
 10488,
 10489,
 10490,
 10491,
 10492,
 10493,
 10494,
 10495,
 10496,
 10497,
 10498,
 10499,
 10500,
 10501,
 10502,
 10503,
 10504,
 10505,
 10506,
 10507,
 10508,
 10509,
 10510,
 10511,
 10512,
 10513,
 10514,
 10515,
 10516,
 10517,
 10518,
 10519,
 10520,
 10521,
 10522,
 10523,
 10524,
 10525,
 10526,
 10527,
 10528,
 10529,
 10530,
 10531,
 10532,
 10533,
 10534,
 10535,
 10536,
 10537,
 10538,
 10539,
 10540,
 10541,
 10542,
 10543,
 10544,
 10545,
 10546,
 10547,
 10548,
 10549,
 10550,
 10551,
 10552,
 10553,
 10554,
 10555,
 10556,
 10557,
 10558,
 10559,
 10560,
 10561,
 10562,
 10563,
 10564,
 10565,
 10566,
 10567,
 10568,
 10569,
 10570,
 10571,
 10572,
 10573,
 10574,
 10575,
 10576,
 10577,
 10578,
 10579,
 10580,
 10581,
 10582,
 10583,
 10584,
 10585,
 10586,
 10587,
 10588,
 10589,
 10590,
 10591,
 10592,
 10593,
 10594,
 10595,
 10596,
 10597,
 10598,
 10599,
 10600,
 10601,
 10602,
 10603,
 10604,
 10605,
 10606,
 10607,
 10608,
 10609,
 10610,
 10611,
 10612,
 10613,
 10614,
 10615,
 10616,
 10617,
 10618,
 10619,
 10620,
 10621,
 10622,
 10623,
 10624,
 10625,
 10626,
 10627,
 10628,
 10629,
 10630,
 10631,
 10632,
 10633,
 10634,
 10635,
 10636,
 10637,
 10638,
 10639,
 10640,
 10641,
 10642,
 10643,
 10644,
 10645,
 10646,
 10647,
 10648,
 10649,
 10650,
 10651,
 10652,
 10653,
 10654,
 10655,
 10656,
 10657,
 10658,
 10659,
 10660,
 10661,
 10662,
 10663,
 10664,
 10665,
 10666,
 10667,
 10668,
 10669,
 10670,
 10671,
 10672,
 10673,
 10674,
 10675,
 10676,
 10677,
 10678,
 10679,
 10680,
 10681,
 10682,
 10683,
 10684,
 10685,
 10686,
 10687,
 10688,
 10689,
 10690,
 10691,
 10692,
 10693,
 10694,
 10695,
 10696,
 10697,
 10698,
 10699,
 10700,
 10701,
 10702,
 10703,
 10704,
 10705,
 10706,
 10707,
 10708,
 10709,
 10710,
 10711,
 10712,
 10713,
 10714,
 10715,
 10716,
 10717,
 10718,
 10719,
 10720,
 10721,
 10722,
 10723,
 10724,
 10725,
 10726,
 10727,
 10728,
 10729,
 10730,
 10731,
 10732,
 10733,
 10734,
 10735,
 10736,
 10737,
 10738,
 10739,
 10740,
 10741,
 10742,
 10743,
 10744,
 10745,
 10746,
 10747,
 10748,
 10749,
 10750,
 10751,
 10752,
 10753,
 10754,
 10755,
 10756,
 10757,
 10758,
 10759,
 10760,
 10761,
 10762,
 10763,
 10764,
 10765,
 10766,
 10767,
 10768,
 10769,
 10770,
 10771,
 10772,
 10773,
 10774,
 10775,
 10776,
 10777,
 10778,
 10779,
 10780,
 10781,
 10782,
 10783,
 10784,
 10785,
 10786,
 10787,
 10788,
 10789,
 10790,
 10791,
 10792,
 10793,
 10794,
 10795,
 10796,
 10797,
 10798,
 10799,
 10800,
 10801,
 10802,
 10803,
 10804,
 10805,
 10806,
 10807,
 10808,
 10809,
 10810,
 10811,
 10812,
 10813,
 10814,
 10815,
 10816,
 10817,
 10818,
 10819,
 10820,
 10821,
 10822,
 10823,
 10824,
 10825,
 10826,
 10827,
 10828,
 10829,
 10830,
 10831,
 10832,
 10833,
 10834,
 10835,
 10836,
 10837,
 10838,
 10839,
 10840,
 10841,
 10842,
 10843,
 10844,
 10845,
 10846,
 10847,
 10848,
 ...}

In [34]:
note_df.drop(index=list(set(note_df.index)-set(master_df.index)), inplace=True)

In [35]:
note_df.head()

                                  NEW_NOTE
0  3008 Water chem results 20018+2019.xlsx
1  3008 Water chem results 20018+2019.xlsx
2  3008 Water chem results 20018+2019.xlsx
3  3008 Water chem results 20018+2019.xlsx
4  3008 Water chem results 20018+2019.xlsx

In [36]:
note_df.shape

(20461, 1)

### Now we need to concatinate the master_df and note_df

In [37]:
master_df = pd.concat([ master_df , note_df ],axis=1,sort=False)

In [38]:
master_df.head()

    FACILITY_NAME    MATRIX_DESC SYS_LOC_CODE           SAMPLE_NAME LAB_SAMPLE_ID START_DEPTH END_DEPTH         SAMPLE_DATE       ANALYSIS_DATE METHOD_ANALYTE_GROUP_DESC             CHEMICAL_NAME  REPORT_RESULT_VALUE DETECT_FLAG REPORTING_DETECTION_LIMIT REPORT_RESULT_UNIT                                 NEW_NOTE
0  Patterson Lake  Surface Water      CLEARV1  3008 FB Water Sample    2018020699           0         0 2018-05-21 13:48:00 2018-06-08 08:31:36       Physical Properties           Hardness, Total                 1.00           N                         1               mg/L  3008 Water chem results 20018+2019.xlsx
1  Patterson Lake  Surface Water      CLEARV1  3008 FB Water Sample    2018020699           0         0 2018-05-21 13:48:00 2018-06-07 09:08:10                    Metals                   Mercury                 1.00           N                         1               ng/L  3008 Water chem results 20018+2019.xlsx
2  Patterson Lake  Surface Water      CLEARV1  3008 FB Water Sample    2018020699           0         0 2018-05-21 13:48:00 2018-06-07 16:01:56                 Nutrients            Ammonia (as N)                 0.01           N                      0.01               mg/L  3008 Water chem results 20018+2019.xlsx
3  Patterson Lake  Surface Water      CLEARV1  3008 FB Water Sample    2018020699           0         0 2018-05-21 13:48:00 2018-06-10 14:08:14                 Nutrients  Nitrogen, Total Kjeldahl                 0.05           N                      0.05               mg/L  3008 Water chem results 20018+2019.xlsx
4  Patterson Lake  Surface Water      CLEARV1  3008 FB Water Sample    2018020699           0         0 2018-05-21 13:48:00 2018-06-06 16:31:03                 Nutrients             Nitrate (NO3)                 0.04           N                      0.04               mg/L  3008 Water chem results 20018+2019.xlsx

In [47]:
master_df[master_df['SYS_LOC_CODE']=='MIRRRV']

       FACILITY_NAME    MATRIX_DESC SYS_LOC_CODE                SAMPLE_NAME LAB_SAMPLE_ID START_DEPTH END_DEPTH         SAMPLE_DATE       ANALYSIS_DATE METHOD_ANALYTE_GROUP_DESC                  CHEMICAL_NAME  REPORT_RESULT_VALUE DETECT_FLAG REPORTING_DETECTION_LIMIT REPORT_RESULT_UNIT                                      NEW_NOTE
1832  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-24 08:46:30       Physical Properties                Hardness, Total             10.00000           Y                         1               mg/L       3008 Water chem results 20018+2019.xlsx
1833  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 14:27:44                    Metals                        Mercury              1.00000           N                         1               ng/L       3008 Water chem results 20018+2019.xlsx
1834  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-22 11:16:31                 Nutrients                 Ammonia (as N)              0.01000           N                      0.01               mg/L       3008 Water chem results 20018+2019.xlsx
1835  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 14:51:17                 Nutrients       Nitrogen, Total Kjeldahl              0.34000           Y                      0.05               mg/L       3008 Water chem results 20018+2019.xlsx
1836  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-22 11:17:21                 Nutrients                 Nitrate (as N)              0.01000           N                      0.01               mg/L       3008 Water chem results 20018+2019.xlsx
1837  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-09-07 08:41:34             Radionuclides                   Polonium-210              0.00500           N                     0.005               Bq/L       3008 Water chem results 20018+2019.xlsx
1838  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-09-07 15:23:57             Radionuclides                     Radium-226              0.00500           N                     0.005               Bq/L       3008 Water chem results 20018+2019.xlsx
1839  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-09-13 08:07:27             Radionuclides                    Thorium-230              0.01000           N                      0.01               Bq/L       3008 Water chem results 20018+2019.xlsx
1840  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-09-07 09:01:19             Radionuclides                       Lead-210              0.02000           N                      0.02               Bq/L       3008 Water chem results 20018+2019.xlsx
1841  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-24 08:46:30       Physical Properties                    Sum of ions             20.00000           Y                         1               mg/L       3008 Water chem results 20018+2019.xlsx
1842  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-21 14:16:01       Physical Properties                      Turbidity              0.70000           Y                       0.1                NTU       3008 Water chem results 20018+2019.xlsx
1843  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 13:12:03       Physical Properties   Alkalinity, Total (as CaCO3)             11.00000           Y                         1               mg/L       3008 Water chem results 20018+2019.xlsx
1844  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 13:15:56       Physical Properties    Alkalinity, Phenolphthalein              1.00000           N                         1               mg/L       3008 Water chem results 20018+2019.xlsx
1845  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 13:30:54            Inorganic Ions             Carbonate (as CO3)              1.00000           N                         1               mg/L       3008 Water chem results 20018+2019.xlsx
1846  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 13:30:54            Inorganic Ions          Bicarbonate (as HCO3)             13.00000           Y                         1               mg/L       3008 Water chem results 20018+2019.xlsx
1847  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 13:30:54            Inorganic Ions              Hydroxide (as OH)              1.00000           N                         1               mg/L       3008 Water chem results 20018+2019.xlsx
1848  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 11:11:50       Physical Properties          Specific Conductivity             20.00000           Y                         1              S/cm       3008 Water chem results 20018+2019.xlsx
1849  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-27 09:23:11       Physical Properties        Solids, Total dissolved             39.00000           Y                         5               mg/L       3008 Water chem results 20018+2019.xlsx
1850  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-24 16:19:08       Physical Properties        Solids, Total suspended              5.00000           Y                         1               mg/L       3008 Water chem results 20018+2019.xlsx
1851  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-24 08:42:19            Inorganic Ions                        Sulfate              0.80000           Y                       0.2               mg/L       3008 Water chem results 20018+2019.xlsx
1852  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-24 08:42:19            Inorganic Ions                      Magnesium              0.80000           Y                       0.1               mg/L       3008 Water chem results 20018+2019.xlsx
1853  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-24 08:42:19            Inorganic Ions                      Potassium              0.30000           Y                       0.1               mg/L       3008 Water chem results 20018+2019.xlsx
1854  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-24 08:42:19            Inorganic Ions                         Sodium              1.20000           Y                       0.1               mg/L       3008 Water chem results 20018+2019.xlsx
1855  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-24 08:42:19            Inorganic Ions                        Calcium              2.60000           Y                       0.1               mg/L       3008 Water chem results 20018+2019.xlsx
1856  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                       Aluminum              0.01500           Y                    0.0005               mg/L       3008 Water chem results 20018+2019.xlsx
1857  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                           Iron              0.74000           Y                    0.0005               mg/L       3008 Water chem results 20018+2019.xlsx
1858  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                           Lead              0.00010           N                    0.0001               mg/L       3008 Water chem results 20018+2019.xlsx
1859  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                      Manganese              0.02400           Y                    0.0005               mg/L       3008 Water chem results 20018+2019.xlsx
1860  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                     Molybdenum              0.00010           N                    0.0001               mg/L       3008 Water chem results 20018+2019.xlsx
1861  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                         Nickel              0.00010           Y                    0.0001               mg/L       3008 Water chem results 20018+2019.xlsx
1862  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                         Silver              0.00005           N                     5e-05               mg/L       3008 Water chem results 20018+2019.xlsx
1863  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                      Strontium              0.02500           Y                    0.0005               mg/L       3008 Water chem results 20018+2019.xlsx
1864  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                       Thallium              0.00020           N                    0.0002               mg/L       3008 Water chem results 20018+2019.xlsx
1865  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                            Tin              0.00010           N                    0.0001               mg/L       3008 Water chem results 20018+2019.xlsx
1866  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                       Titanium              0.00060           Y                    0.0002               mg/L       3008 Water chem results 20018+2019.xlsx
1867  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                       Antimony              0.00020           N                    0.0002               mg/L       3008 Water chem results 20018+2019.xlsx
1868  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                        Arsenic              0.20000           Y                       0.1               g/L       3008 Water chem results 20018+2019.xlsx
1869  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                         Barium              0.00460           Y                    0.0005               mg/L       3008 Water chem results 20018+2019.xlsx
1870  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                      Beryllium              0.00010           N                    0.0001               mg/L       3008 Water chem results 20018+2019.xlsx
1871  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                          Boron              0.01000           N                      0.01               mg/L       3008 Water chem results 20018+2019.xlsx
1872  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                        Cadmium              0.00001           N                     1e-05               mg/L       3008 Water chem results 20018+2019.xlsx
1873  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                       Chromium              0.00050           N                    0.0005               mg/L       3008 Water chem results 20018+2019.xlsx
1874  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                         Cobalt              0.00010           N                    0.0001               mg/L       3008 Water chem results 20018+2019.xlsx
1875  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                         Copper              0.00020           N                    0.0002               mg/L       3008 Water chem results 20018+2019.xlsx
1876  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                        Uranium              0.10000           N                       0.1               g/L       3008 Water chem results 20018+2019.xlsx
1877  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                       Vanadium              0.00020           Y                    0.0001               mg/L       3008 Water chem results 20018+2019.xlsx
1878  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                           Zinc              0.00050           N                    0.0005               mg/L       3008 Water chem results 20018+2019.xlsx
1879  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                 Nutrients              Phosphorus, Total              0.02000           Y                      0.01               mg/L       3008 Water chem results 20018+2019.xlsx
1880  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 09:19:23                    Metals                       Selenium              0.00010           N                    0.0001               mg/L       3008 Water chem results 20018+2019.xlsx
1881  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-24 08:36:38            Inorganic Ions                       Chloride              0.90000           Y                       0.1               mg/L       3008 Water chem results 20018+2019.xlsx
1882  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 13:22:31                    Metals                       Fluoride              0.04000           Y                      0.01               mg/L       3008 Water chem results 20018+2019.xlsx
1883  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-23 13:04:10       Physical Properties                             pH              7.06000           Y                      0.07           pH units       3008 Water chem results 20018+2019.xlsx
1884  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-22 11:14:44                 Nutrients                  Nitrate (NO3)              0.01000           N                      0.01               mg/L       3008 Water chem results 20018+2019.xlsx
1885  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-22 08:21:55                 Nutrients      Carbon, Organic dissolved              4.40000           Y                       0.2               mg/L       3008 Water chem results 20018+2019.xlsx
1886  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample    2018032831           0         0 2018-08-04 09:45:00 2018-08-22 08:24:15                 Nutrients          Carbon, Total Organic              4.40000           Y                       0.2               mg/L       3008 Water chem results 20018+2019.xlsx
6802  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample           NaN           0         0 2018-08-04 09:45:00 2018-07-31 00:00:00                     Field            Depth Total (Field)              0.70000           Y                       NaN                  M  3008 Water chem results 2018+2019_field.xlsx
6803  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample           NaN           0         0 2018-08-04 09:45:00 2018-07-31 00:00:00                     Field       Dissolved Oxygen (Field)              7.67000           Y                       NaN               mg/L  3008 Water chem results 2018+2019_field.xlsx
6804  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample           NaN           0         0 2018-08-04 09:45:00 2018-07-31 00:00:00                     Field                     pH (Field)              7.06000           Y                       NaN           pH units  3008 Water chem results 2018+2019_field.xlsx
6805  Patterson Lake  Surface Water       MIRRRV  Mirror River Water Sample           NaN           0         0 2018-08-04 09:45:00 2018-07-31 00:00:00                     Field                 Secchi (Field)              0.70000           Y                       NaN                  M  3008 Water chem results 2018+2019_field.xlsx

In [39]:
master_df['SYS_LOC_CODE'].unique()

array(['CLEARV1', 'BEETCK', 'BEETLK1', 'BROALK1', 'FORRLK1', 'FORRLK2',
       'JEDCK', 'LAKEG1', 'LAKEH1', 'LLOYLKI', 'LLOYLKO', 'NAOMLK',
       'PATTLKE1', 'PATTLKN1', 'PATTLKNE1', 'WARNRP', 'CLEARV_MF1',
       'CLEARV_MF2', 'LAKEG2', 'LAKEH2', 'MIRRRV', 'BROALK2', 'HODGLK1',
       'LAKED', 'LAKEJ', 'NAOMLK-1', 'LAKEI', 'CLEARV_MF3'], dtype=object)

In [40]:
master_df[master_df['SYS_LOC_CODE']=='LAKEI']['NEW_NOTE']

9293    3008 Water chem results 2018+2019_field.xlsx
9294    3008 Water chem results 2018+2019_field.xlsx
9295    3008 Water chem results 2018+2019_field.xlsx
9296    3008 Water chem results 2018+2019_field.xlsx
9297    3008 Water chem results 2018+2019_field.xlsx
9298    3008 Water chem results 2018+2019_field.xlsx
9299    3008 Water chem results 2018+2019_field.xlsx
9300    3008 Water chem results 2018+2019_field.xlsx
9301    3008 Water chem results 2018+2019_field.xlsx
9302    3008 Water chem results 2018+2019_field.xlsx
9303    3008 Water chem results 2018+2019_field.xlsx
9304    3008 Water chem results 2018+2019_field.xlsx
9305    3008 Water chem results 2018+2019_field.xlsx
9306    3008 Water chem results 2018+2019_field.xlsx
9307    3008 Water chem results 2018+2019_field.xlsx
9308    3008 Water chem results 2018+2019_field.xlsx
9309    3008 Water chem results 2018+2019_field.xlsx
9310    3008 Water chem results 2018+2019_field.xlsx
9311    3008 Water chem results 2018+2019_field.xlsx
9312    3008 Water chem results 2018+2019_field.xlsx
9313    3008 Water chem results 2018+2019_field.xlsx
9314    3008 Water chem results 2018+2019_field.xlsx
9315    3008 Water chem results 2018+2019_field.xlsx
9316    3008 Water chem results 2018+2019_field.xlsx
9317    3008 Water chem results 2018+2019_field.xlsx
9318    3008 Water chem results 2018+2019_field.xlsx
9319    3008 Water chem results 2018+2019_field.xlsx
9320    3008 Water chem results 2018+2019_field.xlsx
Name: NEW_NOTE, dtype: object

In [41]:
master_df.shape

(20461, 16)

### Preparing the final format of the EMMA file

In [42]:
master_df.columns

Index(['FACILITY_NAME', 'MATRIX_DESC', 'SYS_LOC_CODE', 'SAMPLE_NAME', 'LAB_SAMPLE_ID', 'START_DEPTH', 'END_DEPTH', 'SAMPLE_DATE', 'ANALYSIS_DATE', 'METHOD_ANALYTE_GROUP_DESC', 'CHEMICAL_NAME', 'REPORT_RESULT_VALUE', 'DETECT_FLAG', 'REPORTING_DETECTION_LIMIT', 'REPORT_RESULT_UNIT', 'NEW_NOTE'], dtype='object')

In [43]:
emma_cols

['Site_Name',
 'Media_Name',
 'Lab_Track_ID',
 'Location_Name',
 'Sample_ID',
 'Lab_Sample_ID',
 'Duplicate_Source_ID',
 'Duplicate_Lab_Source_ID',
 'Is_Travel_Blank',
 'Is_Field_Blank',
 'Depth_Start_M',
 'Depth_End_M',
 'Diluted',
 'Sample_DateTime',
 'Analysis_DateTime',
 'Analysis_Method',
 'Parameter_ID',
 'Sample_Value',
 'Less_Than_DL',
 'Detection_Limit',
 'Units',
 'Spike_Recovery',
 'Species',
 'Sample_Treatment',
 'Soil_Texture',
 'Notes']

### We need to rename the master_df columns name based on emma_cols

In [45]:
master_df.rename(columns = {'FACILITY_NAME': 'Site_Name',                'MATRIX_DESC':'Media_Name',    
                            'SYS_LOC_CODE':'Location_Name',              'SAMPLE_NAME':'Sample_ID',   
                            'LAB_SAMPLE_ID':'Lab_Sample_ID',             'START_DEPTH':'Depth_Start_M', 
                            'END_DEPTH':'Depth_End_M',                   'SAMPLE_DATE': 'Sample_DateTime',
                            'ANALYSIS_DATE':'Analysis_DateTime',         'METHOD_ANALYTE_GROUP_DESC':'Analysis_Method',            
                            'CHEMICAL_NAME':'Parameter_ID',              'REPORT_RESULT_VALUE':'Sample_Value',      
                            'DETECT_FLAG':'Less_Than_DL',                'REPORTING_DETECTION_LIMIT':'Detection_Limit',                 
                            'REPORT_RESULT_UNIT':'Units',                'NEW_NOTE':'Notes'
                                 }, inplace=True)

In [46]:
rem_EMMA_ls = ['Lab_Track_ID','Duplicate_Source_ID','Duplicate_Lab_Source_ID','Is_Travel_Blank',
 'Is_Field_Blank','Diluted', 'Spike_Recovery','Species','Sample_Treatment','Soil_Texture','Notes' ]

In [47]:
master_df = pd.concat([ master_df , pd.DataFrame(columns=rem_EMMA_ls) ],sort=False)

In [48]:
master_df = master_df[emma_cols]

In [49]:
master_df.head()

        Site_Name     Media_Name Lab_Track_ID Location_Name             Sample_ID Lab_Sample_ID Duplicate_Source_ID Duplicate_Lab_Source_ID Is_Travel_Blank Is_Field_Blank Depth_Start_M Depth_End_M Diluted     Sample_DateTime   Analysis_DateTime      Analysis_Method              Parameter_ID  Sample_Value Less_Than_DL Detection_Limit Units Spike_Recovery Species Sample_Treatment Soil_Texture                                    Notes
0  Patterson Lake  Surface Water          NaN       CLEARV1  3008 FB Water Sample    2018020699                 NaN                     NaN             NaN            NaN             0           0     NaN 2018-05-21 13:48:00 2018-06-08 08:31:36  Physical Properties           Hardness, Total          1.00            N               1  mg/L            NaN     NaN              NaN          NaN  3008 Water chem results 20018+2019.xlsx
1  Patterson Lake  Surface Water          NaN       CLEARV1  3008 FB Water Sample    2018020699                 NaN                     NaN             NaN            NaN             0           0     NaN 2018-05-21 13:48:00 2018-06-07 09:08:10               Metals                   Mercury          1.00            N               1  ng/L            NaN     NaN              NaN          NaN  3008 Water chem results 20018+2019.xlsx
2  Patterson Lake  Surface Water          NaN       CLEARV1  3008 FB Water Sample    2018020699                 NaN                     NaN             NaN            NaN             0           0     NaN 2018-05-21 13:48:00 2018-06-07 16:01:56            Nutrients            Ammonia (as N)          0.01            N            0.01  mg/L            NaN     NaN              NaN          NaN  3008 Water chem results 20018+2019.xlsx
3  Patterson Lake  Surface Water          NaN       CLEARV1  3008 FB Water Sample    2018020699                 NaN                     NaN             NaN            NaN             0           0     NaN 2018-05-21 13:48:00 2018-06-10 14:08:14            Nutrients  Nitrogen, Total Kjeldahl          0.05            N            0.05  mg/L            NaN     NaN              NaN          NaN  3008 Water chem results 20018+2019.xlsx
4  Patterson Lake  Surface Water          NaN       CLEARV1  3008 FB Water Sample    2018020699                 NaN                     NaN             NaN            NaN             0           0     NaN 2018-05-21 13:48:00 2018-06-06 16:31:03            Nutrients             Nitrate (NO3)          0.04            N            0.04  mg/L            NaN     NaN              NaN          NaN  3008 Water chem results 20018+2019.xlsx

### Need to modify the Less_Than_DL column

In [50]:
master_df['Less_Than_DL'].value_counts()

Y    13038
N     7423
Name: Less_Than_DL, dtype: int64

In [51]:
master_df['Less_Than_DL'] = master_df['Less_Than_DL'].apply(lambda row: True if row=='N' else False)

In [52]:
master_df.head()

        Site_Name     Media_Name Lab_Track_ID Location_Name             Sample_ID Lab_Sample_ID Duplicate_Source_ID Duplicate_Lab_Source_ID Is_Travel_Blank Is_Field_Blank Depth_Start_M Depth_End_M Diluted     Sample_DateTime   Analysis_DateTime      Analysis_Method              Parameter_ID  Sample_Value  Less_Than_DL Detection_Limit Units Spike_Recovery Species Sample_Treatment Soil_Texture                                    Notes
0  Patterson Lake  Surface Water          NaN       CLEARV1  3008 FB Water Sample    2018020699                 NaN                     NaN             NaN            NaN             0           0     NaN 2018-05-21 13:48:00 2018-06-08 08:31:36  Physical Properties           Hardness, Total          1.00          True               1  mg/L            NaN     NaN              NaN          NaN  3008 Water chem results 20018+2019.xlsx
1  Patterson Lake  Surface Water          NaN       CLEARV1  3008 FB Water Sample    2018020699                 NaN                     NaN             NaN            NaN             0           0     NaN 2018-05-21 13:48:00 2018-06-07 09:08:10               Metals                   Mercury          1.00          True               1  ng/L            NaN     NaN              NaN          NaN  3008 Water chem results 20018+2019.xlsx
2  Patterson Lake  Surface Water          NaN       CLEARV1  3008 FB Water Sample    2018020699                 NaN                     NaN             NaN            NaN             0           0     NaN 2018-05-21 13:48:00 2018-06-07 16:01:56            Nutrients            Ammonia (as N)          0.01          True            0.01  mg/L            NaN     NaN              NaN          NaN  3008 Water chem results 20018+2019.xlsx
3  Patterson Lake  Surface Water          NaN       CLEARV1  3008 FB Water Sample    2018020699                 NaN                     NaN             NaN            NaN             0           0     NaN 2018-05-21 13:48:00 2018-06-10 14:08:14            Nutrients  Nitrogen, Total Kjeldahl          0.05          True            0.05  mg/L            NaN     NaN              NaN          NaN  3008 Water chem results 20018+2019.xlsx
4  Patterson Lake  Surface Water          NaN       CLEARV1  3008 FB Water Sample    2018020699                 NaN                     NaN             NaN            NaN             0           0     NaN 2018-05-21 13:48:00 2018-06-06 16:31:03            Nutrients             Nitrate (NO3)          0.04          True            0.04  mg/L            NaN     NaN              NaN          NaN  3008 Water chem results 20018+2019.xlsx

In [53]:
master_df['Less_Than_DL'].value_counts()

False    13038
True      7423
Name: Less_Than_DL, dtype: int64

In [87]:
master_df['Parameter_ID'].unique()

array(['Hardness, Total', 'Mercury', 'Ammonia (as N)',
       'Nitrogen, Total Kjeldahl', 'Nitrate (NO3)', 'Nitrate (as N)',
       'Radium-226', 'Polonium-210', 'Thorium-230', 'Lead-210',
       'Sum of ions', 'Turbidity', 'Alkalinity, Total (as CaCO3)',
       'Alkalinity, Phenolphthalein', 'Carbonate (as CO3)',
       'Bicarbonate (as HCO3)', 'Hydroxide (as OH)',
       'Specific Conductivity', 'Solids, Total dissolved',
       'Solids, Total suspended', 'Sulfate', 'Magnesium', 'Potassium',
       'Sodium', 'Calcium', 'Aluminum', 'Iron', 'Manganese', 'Titanium',
       'Beryllium', 'Boron', 'Chromium', 'Cobalt', 'Vanadium',
       'Phosphorus, Total', 'Lead', 'Molybdenum', 'Nickel', 'Silver',
       'Strontium', 'Thallium', 'Tin', 'Antimony', 'Arsenic', 'Barium',
       'Cadmium', 'Copper', 'Uranium', 'Zinc', 'Selenium', 'Chloride',
       'Fluoride', 'pH', 'Nitrate+Nitrite (as N) calc.',
       'Carbon, Total Organic', 'Carbon, Organic dissolved',
       'Ammonia (as N), dissolved', 'Nitrate (as N), dissolved',
       'Nitrate (NO3), dissolved', 'Apparent color',
       'Magnesium, dissolved', 'Potassium, dissolved',
       'Sodium, dissolved', 'Calcium, dissolved', 'Lithium, dissolved',
       'Beryllium, dissolved', 'Boron, dissolved', 'Tellurium, dissolved',
       'Aluminum, dissolved', 'Iron, dissolved', 'Lead, dissolved',
       'Manganese, dissolved', 'Molybdenum, dissolved',
       'Nickel, dissolved', 'Rubidium, dissolved', 'Silver, dissolved',
       'Strontium, dissolved', 'Thallium, dissolved', 'Tin, dissolved',
       'Titanium, dissolved', 'Antimony, dissolved', 'Arsenic, dissolved',
       'Barium, dissolved', 'Cadmium, dissolved', 'Chromium, dissolved',
       'Cobalt, dissolved', 'Copper, dissolved', 'Uranium, dissolved',
       'Vanadium, dissolved', 'Zinc, dissolved', 'Zirconium, dissolved',
       'Bismuth, dissolved', 'Phosphorus, Total dissolved',
       'Selenium, dissolved', 'Tellurium', 'Lithium', 'Rubidium',
       'Zirconium', 'Bismuth', 'Cesium (Cs), dissolved',
       'Cesium (Cs)-Total', 'Nitrite+Nitrate-nitrogen, dissolved',
       'Depth Total (Field)', 'pH (Field)', 'Secchi (Field)',
       'Temperature (Field)', 'Dissolved Oxygen (Field)',
       'Oxidation Reduction Potential (Field)',
       'Specific Conductivity (Field)', 'ICE', 'SNOW'], dtype=object)

In [70]:
ls1 = list(master_df[master_df['Parameter_ID'].str.contains('Oxygen')]['Sample_Value'])

In [71]:
ls1.remove(min(ls1))

In [86]:
[i for i in ls1 if i < 1]

[0.25,
 0.91,
 0.8,
 0.35,
 0.2,
 0.7,
 0.62,
 0.5,
 0.34,
 0.56,
 0.44,
 0.36,
 0.81,
 0.81,
 0.57,
 0.27,
 0.7,
 0.7]

### Saving the EMMA Excel File

In [54]:
out_path = "C:\\Users\\ssabahi\\Desktop\\EMMA_Water_2018-2019\\Final_Excel_File\\Water_EMMA_2018-2019.xlsx"
writer = pd.ExcelWriter(out_path , engine='xlsxwriter')
master_df.to_excel(writer, sheet_name='Ready_For_EMMA', index=False)
writer.save()